.main-page {
  display: flex;
  margin-top: 15vh;
  flex-direction: column;
}

.player-icon {
  height: 50px;
  width: 50px;
  border-radius: 12px;
  border-color: #80bfff	;
  border-width: 2px;
  border-style: solid;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: .3vw;
  background-color: white;
  filter: drop-shadow(25em,25em,25em, black);
}

.top-navBar {
  display: flex;
  position: fixed;
  justify-content: center;
  width: 100vw;
  top: 0;
  background-color: #0066cc;
  overflow: hidden;
  border-radius: 0;
  z-index: 1;
}

.statsContainer {
  display: flex;
  flex-direction: row;
}

.matchModal {
  margin-top: .5vh;
  margin-bottom: .5vh;
  padding: .5vh;
}

.playerStats {
  display: inline-block;
  text-align: right;
  position: relative;
  right: 0;
  overflow: hidden;
}

.flexContainer {
  display: flex;
  align-content: center;
  margin-top: .5vh;
  width: 30vw;
  flex-direction: column;

}

.modal {
  background-color: orange;
  position: fixed;
  top: 15vh;
  left: 33vw;
  height: 50%;
  width: 50%;
  z-index: 1;
  overflow: auto;
  margin: 10vmax;
  display: none;
  border-radius: 1vmax;
  padding-left: 1vw;
}
