.main-page {
  margin-top: 15vh;
}

.player-icon {
  height: 50px;
  width: 50px;
  border-radius: 12px;
  border-color: #80bfff	;
  border-width: 2px;
  border-style: solid;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: .3vw;
  background-color: white;
  filter: drop-shadow(25em,25em,25em, black);
}

.top-navBar {
  display: flex;
  position: fixed;
  justify-content: center;
  width: 100vw;
  top: 0;
  background-color: #0066cc;
  overflow: hidden;
  border-radius: 0;
}
